.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 15px;
  color: #6b6b6f;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.item p {
  flex-basis: 0;
  flex-grow: 1;
}
.item span {
  display: inline-block;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}
.item button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}
.item button:hover{
    font-size: 1.5rem;
}