.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: #304ffe25 0px 7px 29px 0px;
}

.form input {
  width: 45%;
  height: 40px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  color: #304ffe;
  font-size: 1rem;
}
.form button {
  width: calc(90% + 20px);
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  background-color: #304ffe;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.form button:hover {
  box-shadow: #0c2ad487 0px 7px 29px 0px;
}
.alert {
  width: 100%;
  text-align: center;
  height: 40px;
  margin: 5px 0 25px;
}
.alert p {
  padding: 5px;
  font-size: 1.2rem;
  background-color: #ffebbe;
  color: #f44336;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .form input {
    width: 90%;
  }
  .form button {
    width: 90%;
  }
}
