.container {
  margin: 50px 0;
  text-align: center;
}
.container h1{
    font-size: 2.3rem;
    color: #304ffe;
    margin-bottom: 20px;
}
.container a{
    text-decoration: none;
    font-size: 1rem;
    color: gray;
    background-color: #bbdefb;
    border-radius: 5px;
    padding: 3px 5px;
}
