:root{
    font-family: Inter, system-ui,Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
    max-width: 1000px;
    min-height: 100vh;
    padding: 10px;
}